.selectedPage {
    font-weight: bold;
}

.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 1px;
    border: 1px solid grey;
}
.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}

.button {
    display: inline-flex;
    justify-content: flex-start;

    /*grid-template-columns: -1fr -1fr -1fr;*/
}
.div {
    margin-bottom: 25px;
}