.nav {
  grid-area: n;
  background-color: yellowgreen;
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

a.active {
  color: gold;
}

/*.item a:active,*/
/*.item a:focus {*/
/*    color: gold;*/
/*}*/
