.content {
    grid-area: c;
    background-color: cornflowerblue;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    messages: 10px;
}

.messages .message {

}